นายชานนท์ ตรีเมต 59102010565

In [0]:
# Import modules
import traceback
import math
import pandas as pd
import numpy as np
import scipy
import scipy.linalg as LA
import matplotlib.pyplot as plt

In [0]:
xi = []
ei = []
ratio = []

In [0]:
def newton_method( f, df, x0, k = 500, tol = 1e-6) :
    """
    Use Newton's method to find the root of the function
    
    Args:
        f (function prototype) : function handle
        df (function prototype) : derivative function handle
        x0 (real number) : starting guess 
        k (integer) : number of iteration steps (default : 500)
        tol (real number) : tolerance (default : 1e-6)
        
    Return:
        Approximate solution xc
        
    Raises:
        ValueError :
            - f or df is None
            - k is smaller than 0
    """
    try:
        if f is None or df is None :
            raise ValueError('Function handle f or df is Null')
        
        if k <= 0 :
            raise ValueError('Iteration k must be larger than 0')
        
        xc = x0
        i = 0
        for _ in range(k) :
            xt = xc - f(xc) / df(xc)
            if i == 0:
                    #do nothing
                    xi.append(x0)
                    ec = abs(x0 - 3)
                    ei.append(ec)
                    ratio.append(np.nan)
            if tol > 0 and abs(xt - xc) / abs(xc) < tol :
                return xt
            else :
                xc = xt
                xi.append(xc)
                ec = abs(xc - 3)
                ei.append(ec)
                if i != 0:
                    previous = ei[i - 1]
                    ratio.append(ec / math.pow(previous, 2))
                i += 1
        return xc
    except ValueError as e :
        print('ValueError Exception : ', e)
        traceback.print_exception()

In [0]:
f = lambda x : (x - 2) * math.pow(x - 3, 3)
df = lambda x : math.pow(x - 3, 3) + (3 * math.pow(x - 3, 2) * (x - 2))
xc = newton_method(f, df, 3.5, 25, 1e-8)

In [5]:
data = [xi, ei, ratio]
pd.options.display.float_format = '{:.8f}'.format
df = pd.DataFrame(data)
df_t = df.transpose()
df_t.columns = ['Xi','Ei','Ratio']
df_t

           Xi         Ei         Ratio
0  3.50000000 0.50000000           nan
1  3.35000000 0.35000000    0.97045455
2  3.24261364 0.24261364    1.36068604
3  3.16668404 0.16668404    1.93078094
4  3.11364842 0.11364842    2.77184964
5  3.07701188 0.07701188    4.02129223
6  3.05193887 0.05193887    5.88555772
7  3.03490624 0.03490624    8.67429879
8  3.02340019 0.02340019   12.85172487
9  3.01565912 0.01565912   19.11377313
10 3.01046610 0.01046610   28.50396959
11 3.00698941 0.00698941   42.58727578
12 3.00466498 0.00466498   63.71087611
13 3.00311239 0.00311239   95.39535531
14 3.00207600 0.00207600  142.92145292
15 3.00138448 0.00138448  214.21018207
16 3.00092320 0.00092320  321.14299621
17 3.00061556 0.00061556  481.54203040
18 3.00041042 0.00041042  722.14045671
19 3.00027363 0.00027363 1083.03801273
20 3.00018243 0.00018243 1624.38429109
21 3.00012162 0.00012162 2436.40367148
22 3.00008108 0.00008108 3654.43271729
23 3.00005406 0.00005406 5481.47626953
24 3.00003604 0.00003604 8222.04158676
25 3.00002403 0.00002403           nan

**Q1 จงใช้ python ทดสอบว่า Newton method converge แบบใดที่จุด r=2 หรือ e=3 ของสมการ f1(x), f2(x) และ f3(x) **

เป็นแบบ Linear convergence

**Q2 ผลลัพธ์ที่ได้จากข้อ Q1 เป็นไปตามที่เราคำนวณตาม slide หน้า 19 หรือไม่ เพราะเหตุใด**

In [6]:
x = 3
diff = lambda x : math.pow(x - 3, 3) + (3 * math.pow(x - 3, 2) * (x - 2))
print(diff(x))

0.0

ตรงตาม slide เพราะเมื่อแทน x = 3 ลงใน f'(x) แล้ว จะได้ผลลัพธ์เท่ากับ 0 แสดงว่าเป็น multiple root

**Q3 จากข้อ Q1, x0 ที่คุณเลือกมีค่าเท่ากับ? เพราะเหตุใดถึงเลือก x0 เท่านี้?**

x0 = 3.5 เพราะต้องการจะตรวจสอบว่าถ้าค่า x0 ใกล้ ๆ root Newton-method จะทำการค้นหาแบบใด